*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}

.error{
    display: none;
}
.card{
   
    background: linear-gradient(rgb(0, 247, 255), rgb(0, 144, 206));
    backdrop-filter: blur(2px);
    height: 500px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    
}
.srch input{
    position: relative;
    top: -120px;
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 25px;
    padding-left: 15px;
    margin-top: 10em;
}
.srch button{
    position: relative;
    top: -120px;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 25px;
    padding-left: 15px;
    margin-left: 10px;
}
.srch button:hover{
    background-color: red;
    transition: .5s;
}
#srch{
    padding-right: 20em;
    
}
.dgr{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dgr p{
    font-size: 4em;
    font-weight: bolder;
}

.dgr h5{
    font-size: 1em;
}
.hmdt{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    font-size: 1em;
    line-height: 0.5em;
}
.humidity{
    margin-left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.windspeed{
    margin-right: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img{
    margin-top: -5em;
    display: flex;
    align-items: center;
    justify-content: center;
}